/* Write your CSS here */
.Home-card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e2e8f0;
  width: 100%;
}
.font-header {
  font-size: 40px;
  font-family: 'Roboto';
}
